[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
inflect = "*"
Pillow = ">=7.1.0"
python-dotenv = "*"
rgbmatrix = {editable = true,path = "./rpi-rgb-led-matrix/bindings/python"}
requests-mock = "*"
opencv-python-headless = "*"
dbus-python = "*"

[requires]
python_version = "3.8"
